@use "./scss/abstracts/mixins" as *;
@use "./scss/abstracts/variables" as *;

@use "./scss/base/typography";

@use "./scss/components/buttons";

@use "./scss/layout/calculator";
@use "./scss/layout/footer";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

html, body {
    background-color: $bg-color;
    background-image: url('./background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $text-color;
    font-size: 20px;
}