@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
a, a:visited, a:active {
  color: #7a26ff;
  text-decoration: none;
}

a:hover {
  color: #9b60fa;
}

h1 {
  text-align: center;
  margin: 5vh auto;
  font-size: 28px;
}

.button {
  background: rgba(255, 255, 255, 0.123);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  font-size: 20px;
  color: white;
}
.button:hover {
  background: rgba(255, 255, 255, 0.26);
  cursor: pointer;
}

.operator {
  color: #7a26ff;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.operator sup {
  font-size: 12px;
}

.display-operator {
  padding: 0 10px;
  color: white;
}

.finalresult {
  color: #7a26ff;
  padding-left: 10px;
}

.equal {
  grid-column: 4/5;
  grid-row: 5/7;
  font-weight: bolder;
  font-size: 28px;
}

main {
  padding: 5vh;
}
@media (max-width: 300px) {
  main {
    padding: 10px;
  }
}

.calculator {
  background: rgba(255, 255, 255, 0.171);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .calculator {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .calculator {
    max-width: 30%;
    max-height: 80%;
  }
}
.calculator #display {
  background: rgba(255, 255, 255, 0.034);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  width: 100%;
  min-height: 70px;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 20px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer {
    width: 60%;
    margin: 0 auto;
    font-size: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #a6b7e0;
  background-image: url("./background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 20px;
  font-family: "Space Mono", monospace;
}