@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Space Mono", monospace;
}
@media (min-width: 768px) and (max-width: 1023px) {
  * {
    font-size: 24px;
  }
}

html, body {
  background-color: #8BC6EC;
  background-image: url("./bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  background: none;
}

h1 {
  text-align: center;
  margin: 20px auto;
  background: none;
}

.calculator {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .calculator {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .calculator {
    max-width: 40%;
    max-height: 70%;
  }
}
.calculator #display {
  background: rgba(255, 255, 255, 0.034);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  width: 100%;
  min-height: 10vh;
  grid-column: 1/-1;
  text-align: center;
  padding: 20px;
}
.calculator .button {
  background: rgba(255, 255, 255, 0.123);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
  color: white;
}
.calculator .button:hover {
  background: rgba(255, 255, 255, 0.26);
  cursor: pointer;
}
.calculator .operator {
  color: #7a26ff;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.calculator .operator sup {
  font-size: 12px;
}
.calculator .display-operator {
  padding: 0 10px;
  color: white;
}
.calculator .finalresult {
  color: #7a26ff;
  padding-left: 10px;
}
.calculator .equal {
  grid-column: 4/5;
  grid-row: 5/7;
  font-weight: bolder;
  font-size: 28px;
}