@use "./scss/abstracts/mixins" as *;
@use "./scss/abstracts/variables" as *;

.button {
    background: rgba(255, 255, 255, 0.123);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px 0;
    font-size: 20px;
    color: $text-color;

    &:hover {
        background: rgba(255, 255, 255, 0.26);
        cursor: pointer;
    }
}

.operator {
    color: $secondary-color;
    font-weight: 600;

    sup {
        font-size: 12px;
    }
}

#reset {
    font-weight: 600;
    
}

.equal {
    background-color: rgba(135, 235, 221, 0.315);
    grid-row: 4 / 8;
    grid-column: 4 / 5;
    font-weight: bolder;
    font-size: 28px;
}