@use "./scss/abstracts/mixins" as *;
@use "./scss/abstracts/variables" as *;

a, a:visited, a:active {
    color: $secondary-color;
    text-decoration: none;
}

a:hover {
    color: $primary-color;
}

h1 {
    text-align: center;
    margin: 5vh auto;
    font-size: 28px;
}