//VIEWPORT WIDTHS & HEIGHTS 
$small-viewport-width: 300px;
$tablet-width: 768px;
$desktop-width: 1024px;

//COLORS
$bg-color: rgb(166, 183, 224);
$text-color: white;
$primary-color: rgb(122, 38, 255);
$secondary-color: rgb(155, 96, 250);

//TYPOGRAPHY
$main-font: 'Space Mono', monospace;